/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/
@import url("font.css");



  .card-links {
    text-align: center;
  }
.custom-button {

  display: block !important;
  margin: 30px auto !important;
  padding: 0 !important;
  margin-top: 15px !important;


  overflow: hidden !important;
  margin-bottom: 10px !important;

  border-width: 0 !important;
  outline: none !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
  
  background-color: #2ecc71;
  color: #000;
  
  transition: background-color .3s;
}

.custom-button:hover, .custom-button:focus {
  background-color: #27ae60;
}

.custom-button span {
  display: block !important;
  padding: 12px 24px !important;
}

.custom-button:before {
  content: "";
  
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  
  display: block;
  width: 0 !important;
  padding-top: 0 !important;
    
  border-radius: 100% !important;
  
  background-color: rgba(236, 240, 241, .3) !important;
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-button:active:before {
  width: 120% !important;
  padding-top: 120% !important;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.custom-button.orange {
  background-color: #e67e22;
}

.custom-button.orange:hover, .custom-button.orange:focus {
  background-color: #d35400;
}

.custom-button.red {
  background-color: #e74c3c;
}

.custom-button.red:hover, .custom-button.red:focus {
  background-color: #c0392b;
}
.project_cards {
  text-align: center;
}
#large-text {
  font-size: 15px
}

/* New cards on the main page */

@import url(font.css);
.column {
  width: 33%;
  margin-left: 7.7%;
  margin-right: 7.7%;
}
.mobile-cards {
  width: 100%;
}
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}
.projects-selector {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20pt;
  box-shadow: 1000%;
  padding: 1%;
  

}
.projects-selection {
  text-align: center;
}

 .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}



.text-uppercase {
  text-transform: uppercase;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}

.small {
  font-size: 0.75rem;
}
.medium {
  font-size: 1.0rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
}




.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
@media screen and (max-width: 780px) {

  .media-cards {
    width: 120px;
    overflow: hidden; 
    border-radius: 1px;
  }
  .column {
    width: 70%;
  }
  .lts-2px {
    letter-spacing: 0.5px;
  }
  .ml-2 {
    margin-left: 0.1rem;
  }
  .mb-2 {
    margin-bottom: 0px;
  }
  .px-2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .py-2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .mb-1 {
    margin-bottom: 0px;
  }
  .no-mobile {
    display: none;
  }
  .bigger-mobile {
    font-size: 1.45vw;;
  }
  .ml-1 {
    margin-left: 0.1rem;
  }
  
}
@media screen and (min-width: 781px) {
  .media-cards {
    width: 360px; 
    overflow: hidden; 
    border-radius: 1px;
  }
  .lts-2px {
    letter-spacing: 2px;
  }
  .ml-2 {
    margin-left: 2rem;
  }
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .column {
    width: 33%;
  }
  .px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .ml-1 {
    margin-left: 1rem;
  }
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}




.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.column {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}


