/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/
@import url("font.css");



  
.custom-button {

  display: block;
  margin: 30px auto;
  padding: 0;
  margin-top: 15px;


  overflow: hidden;
  margin-bottom: px;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.custom-button:hover, .custom-button:focus {
  background-color: #27ae60;
}

.custom-button > * {
margin-top: 15px;
}

.custom-button span {
  display: block;
  padding: 12px 24px;
}

.custom-button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-button:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


.custom-button.orange {
  background-color: #e67e22;
}

.custom-button.orange:hover, .custom-button.orange:focus {
  background-color: #d35400;
}

.custom-button.red {
  background-color: #e74c3c;
}

.custom-button.red:hover, .custom-button.red:focus {
  background-color: #c0392b;
}
.project_cards {
  text-align: center;
}
#large-text {
  font-size: 15px
}
