.darkbtn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    position: -webkit-sticky; 
    position: sticky;
    top: 10; 
}

/* Darker background on mouse-over */
.darkbtn:hover {
    background-color: gray;
}