@font-face {
    font-family: Product Sans;
    src: url("../fonts/regular.ttf");
}
body, html, p, p1, p2, p3, p4, h1, h2, h3, h4, h6, b, strong, i, em, mark, small, del, ins, sub, sup, ul, li, ol, a, div {
  font-family: 'Product Sans';
}
#support-links {
  color: rgb(255, 153, 0);
  font-size: 15px;
  text-align: left;
  margin: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-top: 0%
}
#link-card {
  text-align: left;
}
ul {
  list-style-type: none;
}
#support {
  text-align: left;
}
#support-title {
  color: white;
  font-family: 'Bitter', serif;
  margin-right: 93.5%;

}
.spop-body {
  color: white;
}
