@import url('https://fonts.googleapis.com/css?family=Bitter&subset=latin-ext');
body, html, p, p1, p2, p3, h1, h2, h3, div {
  font-family: 'Bitter', serif;
}
#tos {
  color: rgb(255, 153, 0);
  font-size: .9vw;
  margin: .00001%;
}
#link-card {
  text-align: left;
}

