#navDemo,.w3-top, .w3-card, .w3-bar, .w3-animate, .w3-white, .w3-card, .w3-animate, .w3-animate-top, .w3-white {
  opacity: .9 !important;
}

.btn {
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #e67e22;
	color: black;
	outline: none;
	border: none;
	border-radius: 7.5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
}
.btn:hover, .btn:focus {
	background-color: #d88c00;	
}
.cleverbot {
	background-color: #6ABAFF !important;
}
.cleverbot:hover {
	background-color: #006ecc !important;
}
.executor:hover {
	background-color: #0a0a0a !important;
}
.executor {
	color: white;
	background-color: #292929 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*
.w3-button:focus {
  -webkit-animation: selected 1.3s;
  -moz-animation: selected 1.3s;
  -ms-animation: selected 1.3s;
  -o-animation: selected 1.3s;
  animation: selected 1.3s;
}
.w3-button:active {
  -webkit-animation: selected 1.3s;
  -moz-animation: selected 1.3s;
  -ms-animation: selected 1.3s;
  -o-animation: selected 1.3s;
  animation: selected 1.3s;
}
.w3-button:pressed {
  -webkit-animation: selected 1.3s;
  -moz-animation: selected 1.3s;
  -ms-animation: selected 1.3s;
  -o-animation: selected 1.3s;
  animation: selected 1.3s;
}
@-webkit-keyframes selected /* Safari and Chrome  {
	20% {
	  background-color: white;
	}
	60% {
	  background-color: #ccc;
	}
	100% {
	  background-color: white;
	}
  }
  @keyframes selected {
	20% {
	  background-color: white;
	}
	60% {
	  background-color: #ccc;
	}
	100% {
	  background-color: white;
	}
  }
*/
